# Mac OS
.DS_Store

# Xcode
## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Swift Package Manager
.build/

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# Code Injection
iOSInjectionProject/